

services:
  app:
    build: ./app
    container_name: podsage_app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    
  ml_service:
    build: ./ml_service
    container_name: podsage_ml
    ports:
      - "5000:5000"
    volumes:
      - ./ml_service:/ml_service


  # You can uncomment this later for ElasticSearch integration
  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
  #   environment:
  #     - discovery.type=single-node
  #   ports:
  #     - "9200:9200"
  #   volumes:
  #     - esdata:/usr/share/elasticsearch/data

# volumes:
#   esdata: